// footer
.app-footer {
  background-color: $clr3;
  height: 7vh;
  font-family: "Noto Serif", serif;
  box-shadow: 0px -1.5px 4px 1px #923f03;
}
footer {
  background-color: $clr3;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  // font-family: title;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 1rem;
  }
}
