.user-modal {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
}

.user-main {
  text-align: center;
  width: 100%;
  z-index: 1;
}

.user-form-container {
  background-color: #f5f5f5;
  min-width: 300px;
  flex-direction: column;
  border-radius: 8px;
  margin: 12vh auto;
}

.login-btns {
  position: relative;
  padding-top: 20px;
}

.close-modal-btn {
  position: absolute;
  border-radius: 50%;
  color: whitesmoke;
  top: 5px;
  right: 5px;
  // padding: 3px;
  // width: 30px;
  // height: 28px;
  background-color: $clr5 !important;
  i {
    font-size: 1.5rem;
  }
  &:hover {
    background-color: $clr2 !important;
  }
}

.modal-manage-btn {
  background-color: $clr5 !important;
  &:hover {
    background-color: $clr2 !important;
  }
}

.hint {
  width: 40px;
  border: 1.5px solid #e9721d;
  border-radius: 50%;
  border-bottom: none;
  border-top: none;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  input {
    display: block;
    margin-bottom: 5px;
  }
  select {
    margin-bottom: 5px;
  }
  h3 {
    margin: 0;
  }
}

.hint-select {
  border: 1px solid black;
  width: 200px;
  height: 20px;
}
.hint-p {
  padding: 0 20px 0;
  margin: 0;
  &:last-of-type {
    margin-bottom: 10px;
  }
}

.loggedin-modal-btns {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 15% auto;
  gap: 15px;
}

.user-login-btn {
  margin-bottom: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .user-form-container {
    width: 60vw;
  }
}
